.details-all {
    color: white;
    flex-wrap: wrap;
    .detail {
        width: calc(33.33% - 21.3px);
        margin-bottom: 32px;
        background-color: rgba(0, 0, 0, 0.75);
        @media (max-width: 768px) {
            width: calc(50% - 10.65px);
        }
          @media (max-width: 426px) {
            width: 100%;
            margin-bottom: 16px;
        }
    }
}